html,body{
	background: #23292d;
	height: 100%;
}

.post{
	background: #23292d;
	box-shadow: none;
}

article{
	height: calc(100% - 66px);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	@media only screen and (max-width: 768px) {

		height: calc(100% - 47px);

	}
}

h1.entry-title {
	color:  #fff;
	max-width: 600px;
	margin: 0 auto 50px;
	text-align: center;
	font-weight:300;

	span {
		font-weight: 600;
		color: #3ba1e2;
	}

	strong{
		font-weight:700;
	}
}

.ctf-form {
	max-width: 450px;
	margin: 0 auto;
	position: relative;

	&.ctf-form-shake {
		animation: ctf-form-shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
		transform: translate3d(0, 0, 0);
		backface-visibility: hidden;
		perspective: 1000px;
	}

	.notification{
		padding: 0.75rem 3rem 0.75rem 1rem;

		> .delete {
			top: 50%;
			right: 15px;
			transform: translateY(-50%);
		}
	}

	.label{
		color: #eee;
		font-weight: 600;
		font-size: 16px;
	}

	.field:not(last-of-type){
		margin-bottom:25px;
	}

	.field:last-of-type{
		margin-bottom:2px;
	}

	input:not([type="submit"]),
	textarea,
	select {
		background:#fff;
	}

	.button {
		margin-top:5px;
		width:100%;
	}
}


@keyframes ctf-form-shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}
