html,body{
	background: #23292d;
	height: 100%;
	color: #fefefe;
	overflow:hidden;

}


.ctf-wrapper{
	height: calc(100% - 66px);
	display: flex;
	flex-direction: row;
	overflow: hidden;
	border-top: 1px solid rgba(255,255,255,0.03);

	p {
		strong{
			color: #fff;
		}
		&:last-of-type{
			margin-bottom:0;
		}
	}

	a{
		color: #fff;
		font-width: 700;
		text-decoration: underline;
	}

}
.ctf-middle {
	display: flex;
	flex-direction: row;
	position: relative;

	@media only screen and (max-width: 768px) {
		flex-direction: column;
	}
}

.ctf-left{
	background: #3273dc;
	text-shadow: 1px 1px #285daf;
}
.ctf-left,
.ctf-right {
	width: 50%;
	padding: 5%;
	overflow: auto;

	@media only screen and (max-width: 768px) {
		width: 100%;
		padding: 7%;
	}
}

.entry-title{
	color: #fff;
	max-width: 500px;
	font-weight: 300;
	font-size: 40px;
	margin-bottom:20px;

	span {
		font-weight: 600;
		color: #3273dc;
	}

	strong{
		font-weight:700;
	}

	@media only screen and (max-width: 768px) {
		font-size: 32px;
	}
}

.faq-title{
	font-weight: 600;
	color: #fff;
	font-size:24px;
}

@media only screen and (max-width: 768px) {
	h1 strong {
		display: block;
	}
}

.ctf-form {

	position: relative;

	&.ctf-form-shake {
		animation: ctf-form-shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
		transform: translate3d(0, 0, 0);
		backface-visibility: hidden;
		perspective: 1000px;
	}

	.notification{
		padding: 0.75rem 3rem 0.75rem 1rem;

		> .delete {
			top: 50%;
			right: 15px;
			transform: translateY(-50%);
		}
	}

	.label{
		color: #eee;
		font-weight: 600;
		font-size: 16px;
	}

	.field:not(last-of-type){
		margin-bottom:25px;
	}

	.field:last-of-type{
		margin-bottom:2px;
	}

	input:not([type="submit"]),
	textarea,
	select {
		background:#fff;
	}

	.button {
		margin-top:5px;
		width:100%;
	}
}


@keyframes ctf-form-shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}
